global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'heart-disease-prediction'

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files: []

scrape_configs:
  - job_name: 'fastapi'
    static_configs:
      - targets: ['localhost:8000']
    metrics_path: '/metrics'
    scrape_interval: 5s
    scrape_timeout: 5s
